* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
ul.menu {
    display: inline-block;
    list-style-type: none;
}
li.menu_list {
    height: 85px;
    width: 85px;
    position: relative;
    font-family: Fuzzy Bubbles;
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
    transform-origin: 0 0;
}
a.side {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}
.abc{
  float:right;
  margin-right: 15%;
  color: white;
  margin-top: -40%;
}
h1{
  font-family: Fuzzy Bubbles;
  font-size: 5vw;
}
h2{
  font-family: Fuzzy Bubbles;
  font-size: 3.5vw;
  margin-left: -6vw;
}
h3{
  font-family: Fredoka;
  font-size: 3vw;
  margin-left: -9vw;
}
.image{
  float: right;
  margin-top: -40%;
  margin-right: -7vw;
}
